/* 0. Root CSS */

:root {
  --brand-primary: #140896;
  --brand-light-shade: #fef6ff;
  --brand-dark-shade: #16101b;
  --brand-light-accent: #9a89b4;
  --brand-dark-accent: #4a4453;
  --brand-secondary: #66baa8;

  --brand-gradient-primary: linear-gradient(
    180deg,
    var(--brand-primary) 0%,
    var(--brand-light-accent) 100%
  );

  --font-primary: "Lato", sans-serif;

  font-family: var(--font-primary);
}

/* 1. Navigation CSS */

.navigation {
  display: flex;
  justify-content: space-around;
}

/* 1.2 Logo + Links */

.logo-container {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}

.links > li {
  padding: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
}

/* 2. Main CSS */

.main {
  /* outline: 0.1rem solid red; */
}

/* 2.1 Intro */

.intro-container {
  padding-top: 1rem;
  display: flex;
  background-color: var(--brand-light-shade);
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
  max-width: 32rem;
}

.title {
  font-size: 1.25rem;

  em {
    font-size: 1.5rem;
    color: var(--brand-secondary);
  }
}

.subtitle {
  font-size: 0.75rem;
  font-style: italic;
}

em {
  font-weight: bold;
}

.text-container {
  padding: 0.25rem;
}

.image-container {
  max-width: 20rem;

  img {
    opacity: 0.85;
  }
}

/* 2.2 Contact Button */

.button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: white;
  background-color: var(--brand-secondary);
  border-radius: 0.25rem;
  font-weight: 500;
  padding: 0.5rem 1rem;
}

/* 3. Socials CSS */

.socials-container {
  color: var(--brand-secondary);
}

.socials-links {
  padding-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

/* 4. Projects */
