/* 0. Root CSS */

:root {
  --theme-primary: #140896;
  --theme-light-shade: #e0e2ff;
  --theme-dark-shade: #16101b;
  --theme-light-accent: #f7f7f7;
  --theme-dark-accent: #4a4453;

  --font-primary: "Lato", sans-serif;

  font-family: var(--font-primary);
}

/* 1. Navigation CSS */

.navigation {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  padding: 1rem 0;
}

/* 1.2 Logo + Links */

.logo-container {
  display: flex;
  align-items: center;
}

.links {
  display: flex;
}

.links > li {
  padding: 1rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: black;

  &:hover {
    text-decoration: underline;
  }
}

.mobile-link-container {
  display: none;
}

.mobile-links {
  display: none;
  flex-direction: column;
}

@media screen and (max-width: 600px) {
  .link-container {
    display: none;
  }

  .mobile-link-container {
    display: flex;
  }
}

/* 2. Main CSS */

.main {
  background-color: var(--theme-light-accent);
  container-type: size;
  container-name: main;
}

/* 2.1 Intro */

.intro-container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  height: 40rem;
  gap: 4rem;
  background-color: hsl(0, 0%, 100%, 0.6);
}

@container main (max-width: 650px) {
  .intro-container > .card {
    padding-top: 4rem;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  max-width: 32rem;
}

.title {
  font-size: 1.25rem;

  em {
    font-size: 1.5rem;
    color: var(--theme-primary);
  }
}

.subtitle {
  font-size: 0.75rem;
  font-style: italic;
}

.button-container {
  display: flex;
  gap: 1rem;
}

.image-container {
  display: flex;
  max-width: 20rem;
  align-items: center;

  img {
    border-radius: 50%;
  }
}

/* 2.2 Contact Button */

.button {
  border: 0;
  outline: 0;
  cursor: pointer;
  color: var(--theme-light-accent);
  background-color: var(--theme-primary);
  border-radius: 1em;
  font-weight: 500;
  padding: 0.5em 1em;
  transition: all 0.3s;

  &:hover {
    color: var(--theme-primary);
    background-color: var(--theme-light-shade);
  }

  &:active {
    transform: scale(0.95);
  }
}

/* 3. Socials CSS */

.socials-links {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.socials-links > i {
  color: var(--theme-primary);
  opacity: 0.5;

  &:hover {
    cursor: pointer;
    opacity: 1;
  }
}

/* 4. Canvas CSS */

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
